# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE - VS Code
.vscode/
.factorypath

# IDE - IntelliJ
.idea/
*.iws
*.iml
*.ipr

# IDE - Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# Logs e temporarios
*.log
*.tmp

# Sistema operacional
.DS_Store
Thumbs.db
